<!Doctype html>
<html>
    <head>
    	<title>Document Manager</title>
    	<link rel="stylesheet" type="text/css" href="css/style2.css">
        <script type="text/javascript" src=""></script>
    </head>
    <body>