<!Doctype>
<html>
    <head>
    	<title>Document Management</title>
    	<script type="text/javascript" src="js/front.js" ></script>
    	<link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>