<!Doctype html>
<html>
    <head>
    	<title>Document Manager</title>
    	<link rel="stylesheet" type="text/css" href="css/style.css">
        <script type="text/javascript" src="js/front.js"></script>
    </head>
    <body>
    	<header>
    		<nav>
    			<ul id="list">
    				<li><a href="index.html">What We Do</a></li>
    				<li><a href="index.html">Our Managers</a></li>
    			</ul>
    			<div id="form-div">
    				<form name="signIn" method="POST" action="/signIn">
    					<label>Email:
    						<input type="text" name="email" >
    					</label>
    					<label>Password:
    						<input type="password" value="password" name="password">
    					</label>
    					<button id="signInButton" >Sign in</button><br>
                       
    				</form>
                     <a href="/forgotpassword" id="forgot-password">forgot password?</a>
    			</div>
    		</nav>
    	</header>
          </form>
           <% if(flash.info1) { %>
                <p id="message" class="message"><%= flash.info1 %></p>
            <% } %>